In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import joblib

In [11]:
data = pd.read_csv("../dataset_l.csv", header=None)

In [13]:
data

,0,1,2,3,4,5,6,7,8,9
0,1.431733,-9.710882,1.326388,7.328244,5.335878,-0.152672,7353.6,-2537.4,4454.7,1
1,1.376666,-9.481039,1.350330,2.396947,0.648855,-1.893130,7353.6,-2537.4,4454.7,1
2,1.096544,-9.701305,1.383849,-2.343511,0.282443,-0.870229,7353.6,-2537.4,4454.7,1
3,1.189918,-9.344569,1.757344,-0.664122,-26.381679,0.122137,7353.6,-2537.4,4454.7,1
4,1.819593,-9.789891,0.438139,-1.732824,-2.442748,-2.961832,7353.6,-2537.4,4454.7,1
...,...,...,...,...,...,...,...,...,...,...
3635,3.450045,-9.320627,0.974440,-4.236641,2.167939,-2.534351,7353.6,-2537.4,4454.7,7
3636,3.835511,-8.956708,0.538695,-4.488550,-1.870229,-1.381679,7353.6,-2537.4,4454.7,7
3637,3.605668,-8.784326,0.447716,-3.801527,-3.335878,0.358779,7353.6,-2537.4,4454.7,7
3638,3.574543,-9.083601,0.531513,-3.366412,0.526718,-0.534351,7353.6,-2537.4,4454.7,7
3639,3.450045,-9.181763,0.512359,0.137405,-0.549618,-0.984733,7353.6,-2537.4,4454.7,7

In [14]:
data[0]

0       1.431733
1       1.376666
2       1.096544
3       1.189918
4       1.819593
          ...
3635    3.450045
3636    3.835511
3637    3.605668
3638    3.574543
3639    3.450045
Name: 0, Length: 3640, dtype: float64

In [15]:
X, y = data[[0,1,2,3,4,5]], data[9]

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [19]:
model = RandomForestClassifier()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9934065934065934

In [23]:
temp = -0.004886922,0.012217305,0.010995574,8.920795,-0.51475334,3.86903

In [24]:
model.predict([temp])

array([3], dtype=int64)